* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 88.3%;
    margin: 0 auto;
}

.header_top_info {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_top_info p {
    font-family: 'Open Sans', sans-serif;
    color: #355EFC;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_top_info img {
    width: 14px;
    height: 14px;
}

#email_icon {
    height: 19px;
}

.left_info, .right_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_location, .header_time, .header_email, .header_phone {
  display: flex;
  align-items: center;
}

.left_info div, .right_info div {
    display: flex;
    flex-direction: row;
}

.left_info p, .right_info p{
    margin-left: 0.6rem;
}

.header_time, .header_phone {
    margin-left: 2rem;
}