main {
  display: flex;
  flex-direction: column;
}

.about_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about_info {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.about_paragraph {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#about_us_txt {
  border-radius: 0.6875rem;
  border: 1px solid rgba(202, 210, 252, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
  padding: 0.625rem 0.9375rem;
  width: fit-content;
  color: rgba(53, 94, 252, 1);
  font-family: "Open Sans";
}

.about_paragraph h1 {
  align-self: stretch;
  color: var(--Heading-color, #011a41);
  font-family: "Jost", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.625rem; /* 120.833% */
}

#about_main_txt {
  align-self: stretch;
  color: #555;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.active_paragraphs {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  gap: 0px;
}

.active_paragraphs button {
  padding: 0.3125rem 2.8rem;
  justify-content: center;
  align-items: center;
  color: #555;
  font-family: "Poppins";
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.3125rem 0.3125rem 0rem 0rem;
}

.nav_button {
  border-bottom: 1px solid #dee2e6;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.nav_button.active {
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  background: transparent;
  border-bottom: none;
}

.content {
  display: none;
}

#story.active ~ .story-content,
#mission.active ~ .mission-content,
#vission.active ~ .vission-content {
  display: block;
}

.active_buttons p {
  flex-direction: column;
  justify-content: center;
  color: var(--small-text-color, #555);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 2vh;
}

.service_items {
  display: flex;
  flex-direction: row;
  border-radius: 1.5625rem;
  border: 1px solid #909de2;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.14);
  padding: 1.25rem;
  gap: 1.25rem;
  justify-content: space-between;
  margin-top: 2vh;
  width: 100%;
}

.service_items h3 {
  color: #011a41;
  font-family: Jost;
  font-size: 1.5rem;
  font-style: bold;
  font-weight: 500;
  line-height: 1.8125rem;
}

.service_items p {
  color: #555;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

#main_page_img,
#slider_img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1266px) {
  .about_content {
    flex-direction: column;
    margin-top: 10vh;
  }

  .active_paragraphs {
    width: 150%;
  }
}

.first_item,
.second_item,
.third_item {
  display: flex;
  flex-direction: row;
  width: 33.3%;
}

.first_item,
.second_item {
  border-right: 1px solid #909de2;
}

.item_content {
  margin-left: 0.6rem;
  max-width: 16rem;
}

.item_content p {
  margin-top: 1rem;
}

.statistics {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  padding: 1.875rem;
  align-items: center;
  gap: 0.3125rem;
  justify-content: space-between;
  text-align: center;
  background-color: #355efc;
  flex-shrink: 0;
  margin-top: 6vh;
  width: 100vw;
  margin-left: calc(-7%);
}

.statistics img {
  max-width: 3rem;
}

.happy_clients,
.projects_completed,
.dedicated_staff,
.dedicated_staff_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  gap: 0.75rem;
}

.statistics p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  align-self: stretch;
}

.statistics h1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.1875rem; /* 119.643% */
}

.statistics hr {
  width: 23%;
}

.why_choosing_us {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5vh;
  align-items: center;
  gap: 2vw;
}

.reasons_of_choosing {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 2vh;
}

.reasons_of_choosing button {
  padding: 0.625rem 1.5625rem;
  border-radius: 0.625rem;
  background: #355efc;
  gap: 0.625rem;
  color: #f5f5f5;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  border: none;
  width: fit-content;
}

.reasons_of_choosing h1 {
  color: #011a41;
  font-family: Jost;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.625rem; /* 120.833% */
}

.reasons_of_choosing p {
  color: #555;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

#why_choosing_us_border {
  padding: 0.625rem 0.9375rem;
  border-radius: 0.6875rem;
  border: 1px solid #cad2fc;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
  color: var(--main-color, #355efc);
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
}

.grid_of_choosing {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  gap: 1.5rem;
}

.left_side_of_grid {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1.5rem;
}

.first_grid_of_left_side,
.righ_side_of_grid {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.125rem;
  border-radius: 0.9375rem;
  border: 1px solid #909de2;
}

.righ_side_of_grid {
  width: 50%;
}

.first_grid_of_left_side p,
.righ_side_of_grid p {
  color: var(--small-text-color, #555);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.first_grid_of_left_side h1,
.righ_side_of_grid h1 {
  color: var(--Heading-color, #011a41);
  font-family: Jost;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8125rem;
}

.first_grid_of_left_side a,
.righ_side_of_grid a {
  color: var(--main-color, #355efc);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.read_more_a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}

.read_more_a a {
  text-decoration: none;
}

.second_grid_of_left_side {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: 1px solid #909de2;
  background: #355efc;
  width: fit-content;
}

.second_grid_of_left_side p {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.second_grid_of_left_side h1 {
  color: #fff;
  font-family: Jost;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8125rem; /* 120.833% */
}

.second_grid_of_left_side a {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.our_service {
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 0.9375rem;
  gap: 0.625rem;
  border-radius: 0.6875rem;
  border: 1px solid #cad2fc;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
}

.our_service p {
  color: var(--main-color, #355efc);
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.service_header {
  margin-top: 2vh;
}
.service_header h1 {
  color: var(--Heading-color, #011a41);
  text-align: center;
  font-family: Jost;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.625rem; /* 120.833% */
}

.service_description {
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
  gap: 2vw;
}

.financial_planing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.1875rem;
  flex-shrink: 0;
}

.first_planing,
.second_planing,
.third_planing,
.fourth_planing {
  display: flex;
  padding: 1.25rem;
  justify-content: left;

  align-items: center;
  gap: 0.9375rem;
  flex: 1 0 0;
  align-self: stretch;
}

.first_planing {
  border-radius: 0.625rem;
  background: var(--main-color, #355efc);
}

.first_planing p {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 120% */
}

.second_planing,
.third_planing,
.fourth_planing {
  display: flex;
  padding: 1.25rem;
  align-items: center;
  gap: 0.9375rem;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 0.625rem;
  border: 1px solid var(--Icon-background, #909de2);
}

.second_planing p,
.third_planing p,
.fourth_planing p {
  color: var(--Heading-color, #011a41);
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 120% */
}

.img_of_services,
.financial_planing,
.services_information {
  flex: 1;
}

.img_of_services {
  box-sizing: border-box;
  flex-shrink: 0;
}

#services_image_id {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3125rem;
}

.services_information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex-shrink: 0;
}

.services_information h1 {
  color: var(--Heading-color, #011a41);
  font-family: Jost;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem; /* 121.429% */
}

.services_information p {
  color: var(--small-text-color, #555);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.benefits_of_service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.0625rem;
}

.first_benefit,
.second_benefit,
.third_benefit {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

#read_more_button {
  display: flex;
  padding: 0.625rem 1.5625rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.625rem;
  background: var(--main-color, #355efc);
  border: none;
}

#read_more_span {
  color: #f5f5f5;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

@media (max-width: 1025px) {
  #main_page_img {
    max-width: 500px;
  }
  .about_info {
    justify-content: center;
    align-items: center;
  }
  .about_paragraph {
    text-align: center;
    align-items: center;
  }

  .active_paragraphs {
    text-align: center;
  }

  .service_items h3 {
    width: 50%;
  }
}

@media (max-width: 376px) {
  .about_info {
    width: 42vw;
  }
}
